{% extends "base.html" %}

{% load static %}

{% block title %}  CS - Login Successful {% endblock %}

{% block header %} <h1 class='welcome'>Welcome, {{username.username|upper}} </h1>{% endblock %}

{% block content %}

<p class="login-success"> We are glad you decided to register and be part of our team! 
Your next steps are going to be going through our medical checkup 
followed by a tailored workout and nutritional plan. You can contact us
by going to the contact section in the navbar. Thank you!</p>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/successful-login.js"></script>
{% endblock %}
