{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.svg' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav class="navbar">
        <!--LOGO-->
        <img src="static/img/burger.svg" class= "burger" alt="">
        <img src="{% static 'img/logo.svg' %}" class='logo' alt="Conditioning Studio Logo">
        <ul class="menu" id="sticky-menu">
            <li>
                <a href="{% url 'home' %}" class="navigation" id="home"> Home </a>
            </li>
            <li>
                <a href="http://localhost:8000/#about-anchor" class="navigation" id="about"> About </a>
            </li>
            <li>
                <a href="{% url 'contact' %}" class="navigation" id="contact"> Contact </a>
                <!-- href="{% url 'contact' %}" -->
            </li>
            
            {% if request.user.is_anonymous%} 
                <li>
                    <a href="{% url 'register' %}" class="navigation" id="register"> Register </a>
                    <!-- this one might be wrong -->
                </li>
                <li>
                    <a href="{% url 'login' %}" class="navigation" id="login"> Login </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'exit' %}" class="navigation" id="exit"> Logout </a>
                </li>
            {% endif %} 
        </ul>
    </nav>
    
    <header>
        
        {% block header %}{% endblock %}
    </header>
    <content>
        {% block content %}{% endblock %}
    </content>
    <footer> 
        <div class="social-media">

        </div>
        <h3 class="rights">
            Ignacio Gavilanes - 2021&copy; 
        </h3>
    </footer>

    <script src="/static/js/main.js"></script>
</body>
</html>